#main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-test-text {
    color: white;
}

#main-test-images {
    display: flex;
    flex-direction: column;
    gap: 20px
}